In [15]:
import pandas as pd

In [16]:
raw = open("Current_running_jobs.txt", "r", encoding="utf-8")

lines = []
lines = raw.readlines()

print(*lines[:10], sep="\n")

UID PID CMD

root 1 /lib/systemd/systemd --system --deserialize

root 2 [kthreadd]

root 3 [rcu_gp]

root 4 [rcu_par_gp]

root 6 [kworker/0:0H-kb]

root 9 [mm_percpu_wq]

root 10 [ksoftirqd/0]

root 11 [rcu_sched]

root 12 [migration/0]

In [3]:
lines_proc = []

for l in lines:
    pre = l.split()
    words = [pre[0], pre[1], " ".join(pre[2:])]
    lines_proc.append(words)

In [4]:
import pprint
pprint.pprint(lines_proc[:10])

[['UID', 'PID', 'CMD'],
 ['root', '1', '/lib/systemd/systemd --system --deserialize'],
 ['root', '2', '[kthreadd]'],
 ['root', '3', '[rcu_gp]'],
 ['root', '4', '[rcu_par_gp]'],
 ['root', '6', '[kworker/0:0H-kb]'],
 ['root', '9', '[mm_percpu_wq]'],
 ['root', '10', '[ksoftirqd/0]'],
 ['root', '11', '[rcu_sched]'],
 ['root', '12', '[migration/0]']]

In [5]:
# * (Splat Operator)를 활용하면 리스트를 줄 바꿈하여 출력 가능!
print(*lines_proc[:10], sep="\n")

['UID', 'PID', 'CMD']
['root', '1', '/lib/systemd/systemd --system --deserialize']
['root', '2', '[kthreadd]']
['root', '3', '[rcu_gp]']
['root', '4', '[rcu_par_gp]']
['root', '6', '[kworker/0:0H-kb]']
['root', '9', '[mm_percpu_wq]']
['root', '10', '[ksoftirqd/0]']
['root', '11', '[rcu_sched]']
['root', '12', '[migration/0]']

In [6]:
(col_1, col_2, col_3) = (lines_proc[0][0],
                         lines_proc[0][1],
                         lines_proc[0][-1])

data = pd.DataFrame(lines_proc[1:]).rename(columns={0: col_1,
                                                    1: col_2,
                                                    2: col_3})

data

      UID    PID                                          CMD
0    root      1  /lib/systemd/systemd --system --deserialize
1    root      2                                   [kthreadd]
2    root      3                                     [rcu_gp]
3    root      4                                 [rcu_par_gp]
4    root      6                            [kworker/0:0H-kb]
..    ...    ...                                          ...
486   cho  32384                              sshd: cho@notty
487   cho  32385                 /usr/lib/openssh/sftp-server
488   cho  32413                              sshd: cho@pts/5
489   cho  32414                                        -bash
490  root  32486                                [kworker/1:2]

[491 rows x 3 columns]

In [7]:
data = data.sort_values(by=["UID", "PID"])
data

          UID    PID                                                CMD
138     avahi    924                avahi-daemon: running [Dasan.local]
144     avahi    942                        avahi-daemon: chroot helper
188     bee05   1612                                             ps -ef
189     bee05   1613                                     awk {print $1,
479     bee05  31527  /share/anaconda3/bin/python /share/anaconda3/b...
..        ...    ...                                                ...
210     rtkit   1867                        /usr/lib/rtkit/rtkit-daemon
141    syslog    935                              /usr/sbin/rsyslogd -n
448  systemd+  26217                      /lib/systemd/systemd-resolved
450  systemd+  26222                     /lib/systemd/systemd-timesyncd
170  whoopsie   1175                               /usr/bin/whoopsie -f

[491 rows x 3 columns]

In [8]:
usr_list = set(list(data["UID"]))
trg_list = sorted([i for i in usr_list if "bee" in i])

res = {}
for target in trg_list:
    res[target] = (data.loc[data["UID"] == target, :])

print(len(res))
print(*res.keys())

15
bee05 bee07 bee13 bee14 bee16 bee18 bee19 bee20 bee21 bee22 bee23 bee25 bee26 bee42 bee49

In [9]:
pd.set_option("display.width", 200)
#pd.set_option("display.height", 500)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 50)

In [10]:
res["bee05"]

       UID    PID                                                                CMD
188  bee05   1612                                                             ps -ef
189  bee05   1613                                                     awk {print $1,
479  bee05  31527  /share/anaconda3/bin/python /share/anaconda3/bin/jupyter-notebook
108  bee05    599                                                 sshd: bee05@pts/11
109  bee05    600                                                              -bash
263  bee05   8873                                        /lib/systemd/systemd --user
264  bee05   8874                                                           (sd-pam)

In [11]:
res["bee07"]

       UID    PID                                                                CMD
326  bee07  15170                                        /lib/systemd/systemd --user
328  bee07  15172                                                           (sd-pam)
341  bee07  15260                                                  sshd: bee07@pts/3
342  bee07  15261                                                              -bash
344  bee07  15336                                                  sshd: bee07@notty
345  bee07  15343                                       /usr/lib/openssh/sftp-server
379  bee07  20137  /share/anaconda3/bin/python /share/anaconda3/bin/jupyter-notebook
380  bee07  20237                  /share/anaconda3/bin/python -m ipykernel_launcher
381  bee07  20326                                /share/anaconda3/bin/python -c from

In [12]:
res["bee25"]

       UID  PID                           CMD
112  bee25  610   /lib/systemd/systemd --user
114  bee25  617                      (sd-pam)
120  bee25  707            sshd: bee25@pts/14
128  bee25  795             sshd: bee25@notty
129  bee25  796  /usr/lib/openssh/sftp-server
134  bee25  807                         -bash

In [17]:
res["bee21"]

       UID    PID                                                                            CMD
395  bee21  22367                                                    /lib/systemd/systemd --user
396  bee21  22368                                                                       (sd-pam)
399  bee21  22928                              /usr/bin/dbus-daemon --session --address=systemd:
400  bee21  23248                                                            /usr/lib/gvfs/gvfsd
401  bee21  23253                                 /usr/lib/gvfs/gvfsd-fuse /run/user/821/gvfs -f
402  bee21  23422                                      /usr/lib/at-spi2-core/at-spi-bus-launcher
414  bee21  24100                                            /share/anaconda3/bin/python -c from
415  bee21  24101  /share/anaconda3/bin/python -m joblib.externals.loky.backend.popen_loky_posix
416  bee21  24102  /share/anaconda3/bin/python -m joblib.externals.loky.backend.popen_loky_posix
417  bee21  24103  /share/anaconda3/bin/python -m joblib.externals.loky.backend.popen_loky_posix
418  bee21  24104  /share/anaconda3/bin/python -m joblib.externals.loky.backend.popen_loky_posix
419  bee21  24107                                            /share/anaconda3/bin/python -c from
420  bee21  24108                                            /share/anaconda3/bin/python -c from
421  bee21  24109                                            /share/anaconda3/bin/python -c from
422  bee21  24110                                            /share/anaconda3/bin/python -c from
423  bee21  24111                                            /share/anaconda3/bin/python -c from

In [ ]:
res[